{% extends "templateretenciones.html" %}

{% block content %}
<div class="content-panel">
    <a href="facturas" class="btn btn-primary mb-3">Volver</a>
    <div class="table-container">
        <table id="tabla" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID Retencion</th>
                    <th>Fecha</th>
                    <th>Número de Factura</th>
                    <th>Porcentaje a retener </th>
                    <th>Monto Retenido</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.fecha }}</td>
                    <td>{{ item.numeroFactura }}</td>
                    <td>{{ item.porcentaje }}</td>
                    <td>{{ item.montoRetenido }}</td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}