{% extends "templatefacturas.html" %}

{% block content %}
<div class="content-panel">

    <!-- Title Section -->
    <div class="text-center w-100">
        <h1 class="display-20 text-uppercase text-black" style="margin: 0; margin-bottom: 5px;">LISTA DE FACTURAS</h1>
    </div>



    <!-- Search Form -->
    <div class="d-flex mb-4 align-items-center">
        <a href="/personas" class="btn btn-danger btn-sm mr-3" style="padding: 13px 15px; height: 50px;">Volver</a>
        <form id="formBusqueda" action="/facturas/buscar" method="GET" class="flex-grow-1 d-flex align-items-center">
            <div class="input-group" style="max-width: 1150px;">
                <input type="text" class="form-control rotating-placeholder" placeholder="Buscar" name="query"
                    id="query" required>
                <select class="form-select" name="searchAttribute" id="searchAttribute">
                    <option value="_dniPersonaEmisora">Cedula</option>
                    <option value="_fechaEmision">Fecha</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </div>
            <div class="ml-3 d-flex align-items-center">
                <label for="metodo_busqueda" class="mr-2"></label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-secondary active">
                        <input type="radio" name="metodo_busqueda" id="binario" value="binario" autocomplete="off"
                            checked> Binaria
                    </label>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="metodo_busqueda" id="lineal" value="lineal" autocomplete="off"> Lineal
                    </label>
                </div>
            </div>
        </form>
    </div>

    <style>
        .background-image {
            background-image: url("{{ url_for('static', filename='img/carousel-1.jpg') }}");
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">

    <div class="table-container">
        <table id="tabla" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nro</th>
                    <th>Número</th>
                    <th>DNI Persona Emisora</th>
                    <th>Nombre Receptor</th>
                    <th>Fecha Emisión</th>
                    <th>Monto Total</th>
                    <th>RUC</th>
                    <th>Acciones</th>
                    <th>Retención</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.numero }}</td>
                    <td>{{ item.dniPersonaEmisora }}</td>
                    <td>{{ item.nombreReceptor }}</td>
                    <td>{{ item.fechaEmision }}</td>
                    <td>{{ item.montoTotal }}</td>
                    <td>{{ item.ruc }}</td>
                    <td>
                        <div class="d-flex">
                            <a href="/facturas/editar/{{item.id}}" class="btn btn-sm me-2"
                                style="background-color: #d8b862; color: white; border: none; padding: 5px 22px; border-radius: 6px;">
                                MODIFICAR
                            </a>
                            <form id="eliminar_form_{{ item.id }}" action="/facturas/eliminar/{{ item.id }}"
                                method="POST">
                                <button type="submit" class="btn btn-sm"
                                    style="background-color: #d43737; color: white; border: none; padding: 5px 15px; border-radius: 6px;">
                                    Eliminar
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <form action="/retenciones/ver" method="GET">
                            <input type="hidden" name="factura_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-primary">Retencion</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Script para confirmar eliminación -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('form[id^="eliminar_form_"]').submit(function (event) {
            if (!confirm('¿Estás seguro de que deseas eliminar esta factura?')) {
                event.preventDefault();
            }
        });
    });
</script>

<!-- Script para cambiar placeholder de búsqueda -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const placeholders = ["Buscar por cedula", "Buscar por fecha"];
        let index = 0;
        const input = document.querySelector('.rotating-placeholder');

        setInterval(() => {
            index = (index + 1) % placeholders.length;
            input.placeholder = placeholders[index];
        }, 1000);
    });
</script>
{% endblock %}